<?xml version="1.0"?>

<model>
  <name>Iris with Camera</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Igor Kordzi</name>
    <email>igor.kordzi@gmail.com</email>
  </author>
  <maintainer email="igor.kordzi@gmail.com">Igor Kordzi</maintainer>

  <description>
    Starting with iris_with_standoffs
    add LiftDragPlugin
    add ArduCopterPlugin
    add CameraPlugin
    add StatePublisherPlugin
  </description>
  
  <depend>
    <model>
      <uri>model://iris_with_ardupilot</uri>
      <version>2.0</version>
    </model>
  </depend>
</model>
