<?xml version="1.0"?>

<model>
  <name>Iris with Camera</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name></name>
    <email></email>
  </author>

  <description>
  </description>

  <depend>
    <model>
      <uri>model://gimbal_3d_with_camera</uri>
      <version>2.0</version>
    </model>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>2.0</version>
    </model>
  </depend>
</model>
